.page-container{
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* Center Section */

.center-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    '. middle .'
    'left middle right'
    '. middle .';
  font-family: 'Noto Sans Display', sans-serif;
}
.left-side {
  grid-area: left;
  text-align: left;
}
.right-side {
  grid-area: right;
  text-align: right;
}

.left-side, .right-side {
  font-size: 4em;
}

.middle{
  grid-area: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.title{
  font-size: 6em;
  margin-bottom: 20px;
}
.content-button{
  font-size: 1.5em;
}

.content-image-container {

}

/* Footer Section */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 10vw;
  padding: 25px 30px;
}

.link-container {
  position: relative;
}

.link-reveal, .outside-link {
  position: absolute;
  bottom: 100%;
  font-size: 2rem;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 7px 10px;
  background-color: white;
}

.link-reveal {
  z-index: 1;
}

.initials-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.initials {
  height: 2rem;
  width: auto;
}

/* Canvas styling */

.hidden {
  display: none;
}